.card {
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--color-surface);
    width: 70vw;
}

.cardName {
    padding: 10px;
    font-size: x-large;
}