.subHeader {
    background-color: var(--color-surface);
    border-radius: 7px;
    font-size: var(--text-2xl);
}

.coverImage {
    height: 20vh;
    overflow: hidden;
    border-radius: 7px 7px 0 0;
    display: flex;
    align-items: center;
    position: relative;
}

.constBack {
    width: 100%;
    object-fit: cover;
}

.changeBack {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;


    top: 10px;
    right: 10px;
    width: 4rem;
    height: 4rem;
}

.back {
    width: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.coverImage:hover .back {
    opacity: 0.4;
}

.coverImage:hover .changeBack {
    opacity: 1;
    pointer-events: all;
}

.UniversityTitle {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 0 10px 2rem;
}

.UniversityAvatar {
    align-self: flex-start;
    margin-top: -2.5rem;
}

.UniversityName {
    margin: 5px 20px;

}

.lists {
    display: flex;
    align-items: start;
    margin: 10px 0;
}

.mentors {
    flex: 5;
}

.courses {
    flex: 5;
    margin: 0 15px;
}

.filters {
    flex: 3;
}

.mentors > div {
    margin: 0 0 10px 0;
}