.container {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 0;
}



.label {
    font-weight: 400;
    padding-left: 20px;
}

.avatarContainer {
    position: relative;
    min-width: 3rem;
}

.avatarContainer > * {
    position: absolute;
    top: -3rem;
    left: 0;
}