.container {
    border-radius: 8px;
    background-color: var(--color-surface);
    color: var(--color-surface);
    padding: 12px;
    font-family: var(--font-base);

    display: flex;
}

.container a {
    text-decoration: none;
    color: var(--color-text);
}

.title {
    margin: 0;
    font-size: large;
}

.subtitle {
    padding: 0;
    margin: 4px 0 7px 0;
    font-size: var(--font-small);
    color: var(--color-ps);
}

.bio {
    margin-left: 15px;
}