.header {
  display: flex;
  justify-self: start;
  flex-direction: row;
  align-items: center;
  padding: 0 2rem;
}

.header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

.logo {
  margin: 5px 5px;
  font-size: 2rem;
}

.naviagation li {
  display: inline-block;
  margin: 5px 10px;
}
  
.footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
  
.container {
  margin: 10px 5vw;
}