.header a {
    color: var(--color-text);
    text-decoration: none;
}

header {
  padding: 20px 0;
}

.logo {
  margin: 5px 5px;
}

.naviagation li {
  display: inline-block;
  margin: 0 10px;
}
  
.footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
  
.container {
  margin: 0 3vw 100px 3vw;
  background-color: var(--color-background);
}

.headerDivider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  margin: auto;
}

.leftHalf {
  display: flex;
  justify-self: start;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
}